{% extends "base.html" %}

{% block content %}        
<section id="content" class="body">    
        <header> <h3 class="post-title"><a href="{{ pagename }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h3> 
                <abbr class="post-date published" title="{{ article.date.isoformat() }}">
                        {{ article.locale_date }}
                </abbr>

        </header>

        <div class="entry-content">
        {{ article.content }}
        </div>
        <div id="disqus_thread"></div>
         <script type="text/javascript">
                    var disqus_shortname = 'ramanujam'; 

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
        </script>
</section>

{% endblock %}



